body {
    font-family: Arial;
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    background-color: darkgreen;
}
li a{
    display: block;
    padding: 0;
    color: floralwhite;
    float: right;
    border-left: 1xp solid white;
}
li h2 {
    padding-left: 30px;
    padding-right: 30px;
    color: white;
}
.active {
    background-color: brown;
}
.header {
    padding: 60px;
    text-align: center;
    background: #1abc1a;
    color: white;
    font-size: 30px;
}
.content {
    padding: 20px;
}
